.about-container {
  display: flex;
  flex-wrap: wrap;
}

.about-springboard-container,
.about-me-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.about-springboard-container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.about-springboard-container img {
  width: 100%;
}

.about-me-container {
  width: 44.25rem;
}

.about-me-container img {
  width: 100%;
}