<div class="container">
  <mat-toolbar color="primary" class="mat-elevation-z2">
    <a mat-button routerLink="/"><img class="logo" src="assets/images/logo2.png" alt="logo"/></a>
    <span class="fill"></span>
    <p *ngIf="user">Hi, {{user?.first_name}} {{user?.last_name}}</p>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/contact">Contact</a>
    <a mat-button *ngIf="user" (click)="onClick()">Log Out</a>
    <a mat-button *ngIf="!user" routerLink="/register">Register</a>
  </mat-toolbar>  
</div>

<router-outlet></router-outlet>
