.job-details {
  margin: 50px;
  padding: 50px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 18px;
}

.job-details > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.job-apply {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-apply h4 {
  color: green;
}

.apply-job-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 50px 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.apply-job-form h1 {
  margin-bottom: 30px;
}

.apply-job-form .btn {
  background-color: #0b5394;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.apply-job-form .btn:hover {
  background-color: #063473;
}

.apply-job-form input[type="text"] {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
}

.job-header {
  margin-bottom: 30px;
}

.job-header h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
}

.job-header p {
  margin: 5px 0 0;
  font-style: italic;
}

.job-description,
.job-requirements,
.job-salary {
  margin-bottom: 30px;
}

.job-description h2,
.job-requirements h2,
.job-salary h2 {
  font-size: 24px;
  margin: 0 0 10px;
  padding: 0;
}

.job-description p,
.job-requirements p,
.job-salary p {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .job-details {
    margin: 20px;
    padding: 20px;
  }

  .job-header h1 {
    font-size: 24px;
  }

  .job-description h2,
  .job-requirements h2,
  .job-salary h2 {
    font-size: 20px;
  }

  .job-description p,
  .job-requirements p,
  .job-salary p {
    font-size: 16px;
  }
}

.recruiter-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
}

.recruiter-info img {
  width: 100px;
  height: 10%;
  border-radius: 50%;
}

.recruiter-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recruiter-info p {
  font-size: 18px;
  margin-bottom: 5px;
}
