<div class="job-details">
  <div>
    <div class="job-info">
      <div class="job-header">
        <h1>{{job?.title}}</h1>
        <p>{{job?.company}} - {{job?.location}}</p>
      </div>
      <div class="job-description">
        <h2>Description</h2>
        <p>{{job?.description}}</p>
      </div>
      <div class="job-requirements">
        <h2>Requirements</h2>
        <p>{{job?.requirements}}</p>
      </div>
      <div class="job-salary">
        <h2>Salary</h2>
        <p>{{job?.salary}}</p>
      </div>
      <div class="job-salary">
        <h2>Technical Challenge</h2>
        <p>{{job?.challenge}}</p>
      </div>
    </div>
    <div class="job-apply">
      <h2>Apply for Job</h2>
      <h4 *ngIf="!this.user">Only logged in users can apply</h4>
      <h4 *ngIf="this.jobApplication && this.user">You've already applied to this job</h4>
      <form class="apply-job-form" *ngIf="!this.jobApplication.deployed_link && this.user" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="portfolio_link">Portfolio Link:</label>
          <input type="text" name="portfolio_link" id="portfolio_link" [(ngModel)]="jobApplication.portfolio_link" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="github_link">GitHub Link (for Technical):</label>
          <input type="text" name="github_link" id="github_link" [(ngModel)]="jobApplication.github_link" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="deployed_link">Deployed Link (for Technical):</label>
          <input type="text" name="deployed_link" id="deployed_link" [(ngModel)]="jobApplication.deployed_link" class="form-control" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
    </div>
  </div>
  <div class="recruiter-info">
    <div>
      <h2>Recruiter Information</h2>
      <p><strong>Name:</strong> {{job?.recruiter?.first_name}} {{job?.recruiter?.last_name}}</p>
      <p><strong>Email:</strong> {{job?.recruiter?.email}}</p>
    </div>
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" />
  </div>  
</div>
