<div class="job-board">
  <h1>Job Board</h1>
  <hr>
  <div class="job-post" *ngFor="let job of jobs" (click)="goToJobDetails(job.id.toString())" [routerLink]=[job.id]>
    <div class="job-header">
      <h2>{{ job.title }}</h2>
      <div>
        <h3>{{ job.company }}</h3>
        <span>{{ job.location }}</span>
      </div>
    </div>
    <div class="job-body">
      <p>{{ job.description }}</p>
      <p><strong>Requirements:</strong> {{ job.requirements }}</p>
      <p><strong>Salary:</strong> {{ job.salary }}</p>
    </div>
    <div class="job-image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Woman_1.jpg/800px-Woman_1.jpg)"></div>
  </div>
</div>
